.container {
  max-width: 800px;
  margin: 0 auto;
}

p {
  font-weight: 500;
}

.row {
  display: flex;
}

.column-full,
.column-third,
.column-fourth {
  flex: 100%;
}

.column-third .character,
.column-fourth .character {
  width: 100%;
}

.column-two-thirds {
  width: calc((100% / 3) * 2);
}

.column-one-thirds {
  width: calc(100% / 3);
}

.column-one-thirds .character {
  width: 100%;
}
