.container {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
}

.column-header {
  width: 70%;
  text-align: center;
  margin: 0 auto 50px;
}

h1 {
  font-size: 3.7rem;
  padding-top: 25px;
}

p,
pre {
  color: #7c7a79;
  line-height: 1.75rem;
  font-family: 'Karla', sans-serif;
}

.row {
  display: flex;
}

.column-image {
  width: 15%;
}

.column-text {
  width: 35%;
  margin-top: 45px;
}

span {
  font-weight: bold;
}

.column-button {
  margin: 30px auto;
}

button {
  width: 175px;
  height: 40px;
  border: 2px solid #ec5d57;
  background-color: transparent;
  color: #ec5d57;
  letter-spacing: 1.5px;
  font-weight: 600;
}
